<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <script>
        function changePage(page,currentPage,totalPage) {
            if (page=='pre') {
                if (currentPage >'1') {
                    document.userForm.currentPage.value = currentPage-1
                }
                else {
                    document.userForm.currentPage.value = 1
                }
            }
            else if (page=='next'){
                if (currentPage<totalPage){
                    document.userForm.currentPage.value=currentPage+1
                }
                else {
                    document.userForm.currentPage.value = totalPage
                }
            }
            else{
                document.userForm.currentPage.value=page
            }
            document.userForm.submit()
        }
        function delUser(userId) {
           document.userForm.userId.value=userId
            document.userForm.opr.value='delUser'
            {#提交表单#}
            document.userForm.submit()
        }
        function updateUser(userId) {
            document.userForm.userId.value = userId
            document.userForm.opr.value = 'update'
            {#提交表单#}
            document.userForm.submit()
        }
         function clearSearch() {
            document.userForm.userName.value = ""
            document.userForm.userPhone.value = ""
            document.userForm.userState.value = ""
            document.userForm.submit()
        }
    </script>
</head>
<body>
    <div align="center">
        <form action="/userlist/" method="post" name="userForm">
            <div>
                用户名：<input name="userName" value='{{ params.userName }}'/>
                手机号：<input name="userPhone" value='{{ params.userPhone }}'/>
                用户状态:<input name="userState" value='{{ params.userState }}'/>
                <input type="hidden" name="currentPage" value='{{ params.currentPage }}'/>
                <input type="hidden" name="userId"/>
                <input type="hidden" name="opr"/>
                 <input value="清除" type="reset" onclick="clearSearch()"/>
                 <input type="submit" value="查询"/>

            </div>
            <table border="1" width="800">
            <caption>

            </caption>
            <thead>
                <tr>
                    <th>选项</th>
                    <th>用户ID</th>
                    <th>用户名</th>
                    <th>用户手机号</th>
                    <th>用户状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in userList %}
                <tr>
                    <td></td>
                    <td>{{ item.userid }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.userphone }}</td>
                    <td>{{ item.userstate }}</td>
                    <td>
                        <a href="javascript:updateUser({{ item.userid }})">修改</a>
                        <a href="javascript:delUser({{ item.userid }})">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr align="right">
                <td colspan="6">
                    总共有{{ params.counts }}条
                    总页数{{ params.totalPage }}
                    当前第{{ params.currentPage }}页
                    <a href="javascript:changePage('1',{{ params.currentPage }},{{ params.totalPage }})">首页</a>
                    <a href="javascript:changePage('pre',{{ params.currentPage }},{{ params.totalPage }})">上一页</a>
                    <a href="javascript:changePage('next',{{ params.currentPage }},{{ params.totalPage }})">下一页</a>
                    <a href="javascript:changePage({{ params.totalPage }},{{ params.currentPage }},{{ params.totalPage }})">尾页</a>
                    <select name="pageSize">
                        <option value='3' {% if params.pageSize == 3 %} selected {% endif  %} >3</option>
                        <option value='20' {% if params.pageSize == 20 %} selected {% endif  %} >20</option>
                        <option value='50' {% if params.pageSize == 50 %} selected {% endif  %} >50</option>
                        <option value='100'{% if params.pageSize == 100 %} selected {% endif  %} >100</option>
                    </select>
                </td>
            </tr>
        </tfoot>
        </table>
        </form>
    </div>
</body>
</html>