<!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <div class="navbar-brand-box">
                    <br>
                    <span style="padding-top: 10px;">
                        <a href="/goindex/" class="logo">
                           <h5>&nbsp;&nbsp;博客管理系统后台</h5>
                        </a>
                    </span>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">系统目录</li>

                        <li>
                            <a href="/goindex/" class="waves-effect">
                                <i class='bx bx-home-smile'></i>
                                <span class="badge badge-pill badge-primary float-right">3</span>
                                <span>首页展板</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-cookie"></i><span>博客管理</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/goclasslist/">博客分类管理</a></li>
                                <li><a href="/gobloglist/">博客内容管理</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-table"></i><span>系统管理</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/userlist/">用户管理</a></li>
                                <li><a href="/userlist/">角色管理</a></li>
                                <li><a href="/userlist/">模块管理</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">更多功能</li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-file"></i><span>系统维护</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="pages-invoice.html">系统状态</a></li>
                                <li><a href="pages-starter.html">版权声明</a></li>
                                <li><a href="pages-maintenance.html">联系我们</a></li>
                                <li><a href="pages-faqs.html">帮助手册</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->