<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js" ></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />

</head>
    <body>
        <h1 align="center">首页</h1>
{#        {% if not request.session.user %}#}
            <a href="/login/"class="btn btn-default ">管理员登陆</a>
            <a href="/ulogin/"class="btn btn-default ">用户登陆</a>
            <a href="/newuser/"class="btn btn-default ">用户注册</a>
{#        {% endif %}#}
{#    {% if request.session.user %}#}
{#        <h2>{{  request.session.user.userName }}</h2>#}
{#        <img src="{{  request.session.user.userPic }}" height="200" >#}
{#        </br>#}
{#        <a href="/userlist/" class="btn btn-default ">用户管理</a>#}
{#        <a href="/goclasslist/" class="btn btn-default ">类别管理</a>#}
{#        <a href="/gobloglist/" class="btn btn-default ">博客管理</a>#}
{#    {% endif %}#}
    </body>
</html>