  </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>


    <!-- jQuery  -->
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/waves.js"></script>
    <script src="/static/assets/js/simplebar.min.js"></script>

    <!-- Morris Js-->
    <script src="/static/plugins/morris-js/morris.min.js"></script>
    <!-- Raphael Js-->
    <script src="/static/plugins/raphael/raphael.min.js"></script>

    <!-- Morris Custom Js-->
    <script src="/static/assets/pages/dashboard-demo.js"></script>

    <!-- App js -->
    <script src="/static/assets/js/theme.js"></script>

</body>

</html>