{% include 'user/header.html' %}

{% include 'user/left.html' %}
{% include 'user/topbar.html' %}

    <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">博客管理</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">博客管理</a></li>
                                        <li class="breadcrumb-item active">博客管理</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                             <div class="card">
                                <div class="card-body">
                                    <form action="#" method="post" name="blogForm" class="form-inline">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group" style="display: inline;">
                                                    <button type="button" class="btn btn-primary btn-sm" style="display: inline;" onclick="javascript:document.location.href='/usergowriteblog/';">写博客</button>
                                                </div>
                                                <div class="form-group" style="display: inline;">
                                                        <label for="blogTitle"  class="control-label" style="display: inline;">博客标题:</label>
                                                       <input type="text" name="blogTitle"  class="form-control-sm" style="display: inline;"/>
                                                </div>
                                                <div class="form-group" style="display: inline;">
                                                    <input type="reset" class="btn btn-default pull-left" onclick="clearSearch()"value="取消"></input>
                                                    <input type="button" class="btn btn-primary" onclick="frontmyblog(3, 1, 0, 'search')"value="查询"></input>
                                                </div>
                                                <input type="hidden" name="currentPage" value="1"/>
                                                <input type="hidden" name="blogId"/>
                                                <input type="hidden" name="userId" value="{{ request.session.user.userId }}"/>
                                                <input type="hidden" name="opr" value="search"/>
                                            </div>
                                        </div>
                                        <table class="table activate-select dt-responsive nowrap" >
                                            <thead>
                                                <tr>
                                                    <th>博客ID</th>
                                                    <th>博客标题</th>
                                                    <th>摘要</th>
                                                    <th>标签</th>
                                                    <th>类型</th>
                                                    <th>作者</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bodyData">

                                            </tbody>
                                {#            <tfoot id="pageData">#}
                                {#            </tfoot>#}
                                             <tfoot id="pageData">
{#                                            <tr align="right">#}
{#                                                <td colspan="8" >#}
{#                                                    <div style="float: right">#}
{#                                                        <select name="pageSize" id="pagenum">#}
{#                                                        </select>#}
{#                                                    </div>#}
{#                                                    <div style="float: right" id="pagechoose" ></div>#}
{#                                                </td>#}
{#                                            </tr>#}
                                             </tfoot>
                                        </table>
                                    <div class="modal fade" id="modal-update">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">修改类别信息</h4>
                                              </div>
                                              <div class="modal-body">
                                                     <div class="form-group">
                                                        <label for="cName"  class="control-label">类别名称:</label>
                                                       <input type="text" name="cName"  class="form-control"/>
                                                     </div>
                                                      <div class="form-group">
                                                        <label for="cState"  class="control-label">类别状态：
                                                            <input type="radio" name="cState" value="1">显示&nbsp;&nbsp;
                                                            <input type="radio" name="cState" value="2">不显示&nbsp;
                                                        </label>
                                                      </div>
                                                      <input name="cId" type="hidden" />
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-primary" onclick="blogClass(10, 0, 0, 'submitUpdate')">保存</button>
                                              </div>
                                            </div>
                                            <!-- /.modal-content -->
                                          </div>
                                          <!-- /.modal-dialog -->
                                    </div>
                                    <div class="modal fade" id="modal-add">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">添加类别信息</h4>
                                              </div>
                                              <div class="modal-body">
                                                     <div class="form-group">
                                                        <label for="aName"  class="control-label">类别名称:</label>
                                                       <input type="text" name="aName"  class="form-control"/>
                                                     </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-primary" onclick="blogClass(10, 0, 0, 'add')">保存</button>
                                              </div>
                                            </div>
                                            <!-- /.modal-content -->
                                          </div>
                                          <!-- /.modal-dialog -->
                                    </div>
                                    </form>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2020 © Opatix.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Myra
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

{% include 'user/bottom.html' %}
<script type="text/javascript" src="/static/frontmyblog.js" ></script>